<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户权限</title>
    <!--引入bootstrap样式-->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--1.引入angularjs的库-->
    <script src="../plugins/angularjs/angular.min.js"></script>
    <style>
        .list-group{
            width: 300px;
            margin-top: 20px;
            margin-left: 40px;
        }
    </style>
    <script>
        //1.定义angularjs的模块：
        var app = angular.module("myApp",[]);
        //2.定义控制器
        app.controller("roleController",function ($scope,$http) {
            //3.1)查询所有的用户
            $scope.findUsers=()=>{
                $http.get("../../user/list").success(response=>{
                    $scope.users = response;
                })
            }

            //3.2)查询所有的角色
            $scope.findRoles=()=>{
                $http.get("../../role/list").success(response=>{
                    $scope.roles = response;
                })
            }

            //设置与roles中id相比较的数组
            $scope.sysRoleIds=[];
            //3.3)根据userID查询所有的角色
            $scope.findRoleIDs=()=>{
                $http.get("../../role/listByUserId?userId="+ $scope.sysUserId).success(response=>{
                    $scope.rolesIds = response;

                    //给sysRoleIds赋值
                    for(let i =0; i<$scope.roles.length; i++){
                        $scope.sysRoleIds[i] = "0";
                        for (let j = 0; j < $scope.rolesIds.length; j++){
                            if($scope.rolesIds[j] === $scope.roles[i].id){
                                $scope.sysRoleIds[i] = $scope.rolesIds[j];
                            }
                        }
                    }
                })
            }
            //3.4)修改用户的角色
            $scope.changeRole=()=>{
                $http.get("../../role/updateRole?userId="+$scope.sysUserId+"&roleIds="+$scope.sysRoleIds).success(response=>{
                    if(response.success){
                        parent.location.href="/login.html";
                    }else{
                        alert(response.message);
                    }
                })
            }
        })

     </script>

</head>
<body ng-app="myApp" ng-controller="roleController" ng-init="findUsers();findRoles()">
{{sysRoleIds}}

        <ul class="list-group">
            <li class="list-group-item" >
                请选择用户：
                <select ng-model="sysUserId" class="form-control" ng-change="findRoleIDs()"
                        ng-options="u.id as u.username for u in users"></select>
            </li>
            <li class="list-group-item" ng-repeat="r in roles"  >
                <input  type="checkbox" ng-model="sysRoleIds[$index]" ng-true-value="{{r.id}}" ng-false-value="0">
                {{r.name}}
                <br>
            </li>
            <li class="list-group-item" >
                <input type="button" value="更改权限" class="btn btn-primary btn-sm" ng-click="changeRole()">
            </li>
        </ul>
</body>
</html>